*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    min-height: 100vh;
    background-image: linear-gradient(45deg, rgb(0, 68, 255), rgb(255, 51, 194), rgb(253, 0, 63));
    /* background-image: linear-gradient(45deg, rgba(0, 68, 255, 0.5), rgba(255, 51, 194, 0.5), rgba(253, 0, 63, 0.5)); */
}

.container{
    background-color: white;
    /* height: 400px; */
    width: 350px;
    padding: 20px;
    border-radius: 25px 2px ; 
    /* box-shadow: 0px 0px 5px 3px rgb(221, 219, 219); */
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
}

.container form{
    margin-top: 40px;
}

.input{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input input{
    height: 30px;
    border-radius: 8px 2px;
    border: 1px solid;
    padding: 0 8px;
}

.input label{
    /* margin-bottom: 3px; */
    position: relative;
    bottom: 52px;
}

.input input:focus ~ label{
    font-weight: bold;
}
.input:nth-child(4){
    margin: 0;
}

.input:nth-child(6){
    margin: 0;
}

.input input[type = file]{ 
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-top: 24px;
}

.showPP{
    width: max-content;
    margin: 0;
    display: none;
    border-radius: 50%;
}

.showPP img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 3px rgb(187, 187, 187);
}

.submitBtn button{
    /* background: blue;border: 3px solid red; */
    outline: none;
    border: 1px;
    height: 30px;
    width: 90px;
    background: rgb(17, 17, 248);
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* border-radius: 30px; */
    border-radius: 8px 2px;
    cursor: pointer;
    margin-top: -16px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    transition: all 0.3s;
}

.submitBtn button:hover{
    background: rgb(37, 37, 253);
    box-shadow: 0 0 5px 3px #748dff;
}
/* .showHideToggle{
    height: 18px;
    width: 18px;
    background: url("show.png") no-repeat;
    background-size: contain;
} */

.errorText{
    padding: 10px;
    border: 1px solid red;
    border-radius: 8px 0;
    background: #ffc8c8;
    display: none;
}

@media screen and (max-width: 415px) {
    .container{
        width: calc(100% - 50px);
        height: 100%;
    }
}