*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,a:active{
    color: #111;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    min-height: 100vh;
    /* background-image: linear-gradient(45deg, rgb(0, 68, 255), rgb(255, 51, 194), rgb(253, 0, 63)); */
    /* background-image: linear-gradient(45deg, rgba(0, 68, 255, 0.5), rgba(255, 51, 194, 0.5), rgba(253, 0, 63, 0.5)); */
}

.container{
    background-color: white;
    min-height: 600px;
    max-height: 85vh;
    width: 400px;
    padding: 20px;
    border-radius: 25px 0px ; 
    box-shadow: 0px 0px 5px 3px rgb(221, 219, 219);
    /* box-shadow: 0px 0px 5px 3px rgb(0, 0, 0); */
    /* overflow-y: auto; */
}

.loggedUser{
    padding: 0 0 20px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.loggedUser div{
    display: flex;
}

.loggedUser .details{
    cursor: pointer;
    margin-left: 13px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > .loggedUser .details p{
    color: rgb(6, 180, 0);
}

.loggedUser .details span{
    font-weight: bold;
}

.loggedUser img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

#logout{
    padding: 10px 16px;
    background: rgb(17, 17, 248);
    color: white;
    font-style: bold;
    border-radius: 30px;
}

#logout:hover{
    background: rgb(0, 68, 255);
}

.search{
margin: 20px 0 0 0;
padding-bottom: 20px;
border-bottom: 1px solid rgb(209, 209, 209);
}

.search input{
    width: 100%;
    height: 45px;
    border-radius: 50px;
    background-color: rgb(240, 240, 240);
    font-size: 18px;
    padding: 0 15px;
    border: 1px solid red;
}

/* .search input:focus{
    width: 100%;
    height: 45px;
    border-radius: 50px;
    background-color: rgb(240, 240, 240);
    font-size: 18px;
    padding: 0 15px;
    border: 5px solid red;
} */

.userListArea{
    height: 410px;
    overflow-y: auto;
}

::-webkit-scrollbar{
    display: none;
}

.userList{
    padding: 10px 0;
    border: none;
    align-items: center;
}

.userList p{
    width: 200px;
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userList .activeLog{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.Active{
    background: rgb(0, 255, 0);
}

.Offline{
    background: rgb(179, 179, 179);
}

@media screen and (max-width: 450px) {
    .container{
        width: calc(100% - 50px);
    }
}